        <section id="home" class="home-section">
            <div class="user-home-cover">
                <div class="home-content-box">
                    <div class="home-content-box-inner">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <form action="#" role="form" class="form-group form-horizontal">
                                <label class="label-name text-heading-blue" style="float: left;">Policy Number</label>
                                <input type="text" name="policyNumber" readonly placeholder="Policy Number" class="form-control field-disable">
                                <label class="label-name text-heading-blue" style="float: left;">Vehicle Number</label>
                                <input type="text" name="vehicleNumber" readonly placeholder="Vehicle Number" class="form-control field-disable">
                                <label class="label-name text-heading-blue" style="float: left;">Registration Number</label>
                                <input type="text" name="regNumber" readonly placeholder="Registration Number" class="form-control field-disable">
                                <label class="label-name text-heading-blue" style="float: left;">Claim Amount</label>
                                <input type="text" name="claimAmount" readonly placeholder="Claim Amount" class="form-control field-disable">
                                <div class="btn">
                                    <a href="#" class="btn btn-lg btn-general btn-blue" role="button">Claim</a>
                                </div>
                                <!--.send-btn-->
                                <div class="btn">
                                    <a href="#" class="btn btn-lg btn-general btn-blue" role="button">Renew</a>
                                </div>
                                <!--.send-btn-->
                            </form>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        </section>